@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebasneuebook-webfont.woff2') format('woff2'),
         url('../fonts/bebasneuebook-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebasneueregular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneueregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/subset-Circe-Bold.woff2') format('woff2'),
		 url('../fonts/subset-Circe-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/subset-Circe-Light.woff2') format('woff2'),
		 url('../fonts/subset-Circe-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/subset-Circe-Regular.woff2') format('woff2'),
		 url('../fonts/subset-Circe-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
font-family: 'ALSRubl';
src: url('../fonts/rouble.ttf') format('truetype'); /* Путь к файлу со шрифтом */
font-weight: 400;
font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.ttf?885oza') format('truetype'),
    url('../fonts/icomoon.woff?885oza') format('woff'),
    url('../fonts/icomoon.svg?885oza#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}