body
{
    margin: 0;
    color: #000;
    font-family: 'Circe', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.container
{
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar .logo
{
    width: 200px;
    display: flex;
    align-items: center;
}

.navbar .logo img
{
    margin-bottom: 20px;
}

.navbar
{
    height: 90px;
}

.navbar .container
{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

.navbar .menu
{
    display: flex;
}

.menu .menu-link
{
    display: flex;
    position: relative;
    padding: 0 15px;
    align-items: center;
}

.menu .menu-link.dropdown-wrapper:before
{
    content: "";
    width: 10px;
    height: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    background: url(../images/icons/caret-down.svg);
    background-size: contain;
    transition: 0.3s;
}

.menu .menu-link:after
{
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(180,116,218,1) 0%,rgba(14,201,255,1) 100%);
    transition: 0.5s;
    opacity: 0;
}

.menu .menu-link:hover:after
{
    opacity: 1;
}

.menu .menu-link.dropdown-wrapper:hover:before
{
    transform: rotate(-180deg);
}

.menu .menu-link a
{
    font-family: bebas;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #000;
    text-decoration: none;
}

.menu .menu-link .dropdown
{
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 220px;
    letter-spacing: 0;
    background: #fff;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
}

.menu .menu-link .dropdown a
{
    letter-spacing: 0;
    padding: 5px 15px;
    display: block;
    transition: 0.5s;
}

.menu .menu-link .dropdown a:hover
{
    background: #b5506d;
    color: #fff;
}

.menu .menu-link.dropdown-wrapper:hover .dropdown
{
    max-height: 150px;
}

.section-main
{
    height: 600px;
    background-image: url(../images/main-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 50px solid #fff;
    border-top: none;
    padding: 50px;
}

.section-main .logo
{
    width: 110px;
}

.section-main h1
{
    font-size: 50px;
    color: #fff;
    width: 33%;
}

.worm-title
{
    font: 300 110px bebas, sans-serif;
    letter-spacing: 0.9rem;
    color: #fff;
    text-align: center;
    padding: 100px 0 100px 0;
    position: relative;
    background-image: url(../images/bg/title-worm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px 70px;
    margin: 0;
}

.worm-title.black
{
    color: #000;
}

.section-afisha
{
    background:rgb(181, 80, 109) url(../images/bg/main-afisha-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-afisha:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(181, 80, 109, 0.5);
}

.section-afisha .container
{
    position: relative;
    z-index: 5;
}

.afisha-simple-wrapper
{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.afisha-simple-wrapper .afisha-simple
{
    display: flex;
    align-items: center;
    width: 750px;
    background-color: #fff;
    position: relative;
    margin-bottom: 10px;
    min-height: 175px;
}

.afisha-simple-wrapper .afisha-simple .poster
{
    display: block;
    width: 25%;
    height: 100%;
    
    position: relative;
    position: absolute;
}

.afisha-simple-wrapper .afisha-simple .poster img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.afisha-simple-wrapper .afisha-simple .desc
{
    width: 75%;
    padding: 15px 30px;
    padding-left: calc(25% + 30px);
}

.afisha-simple-wrapper .afisha-simple .tag
{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 5px;
}

.afisha-simple-wrapper .afisha-simple .title
{
    font-weight: bold;
    font-size: 23px;
    color: #000;
    text-decoration: none;
    line-height: 23px;
}

.afisha-simple-wrapper .afisha-simple .desc .text
{
    color: #666;
    line-height: 18px;    
    font-weight: 300;
    font-size: 15px;
}

.afisha-simple-wrapper .afisha-simple .desc .text p
{
    margin-bottom: 0;
}

.afisha-simple-wrapper .afisha-simple .info
{
    padding: 15px;
    width: 25%;
    position: relative;
    
}

.afisha-simple-wrapper .afisha-simple .info:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
    display: block;
    border-left: 1px solid #ebe6e4;
}

.afisha-simple-wrapper .afisha-simple .rating
{
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(181,80,109,0.1);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    color: #666666;
    font-weight: 700;
    text-align: center;
    line-height: 29px;
}

.afisha-simple-wrapper .afisha-simple .info .text
{
    color: #000;
    font-weight: 300;
    font-size: 15px;
}

.afisha-simple-wrapper .afisha-simple .info .text p
{
    margin: 0;
}

.afisha-simple-wrapper .afisha-simple .info a
{
    color: #b5506d;
    text-decoration: none;
}

.afisha-wrapper
{
    display: flex;
}

.afisha-feature-wrapper .afisha-feature
{
    width: 350px;
    display: flex;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, rgba(14,201,255,1) 0%,rgba(180,116,218,1) 100%);
    border-image-slice: 1;
    position: relative;
    margin-bottom: 10px;
}

.afisha-feature-wrapper .afisha-feature img
{
    width: 100%;
}

.afisha-feature-wrapper .afisha-feature .desc
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 15px;
}

.afisha-feature-wrapper .afisha-feature .date
{
    font-size: 18px;
    font-weight: bold;
    color: #0ec9ff;
}

.afisha-feature-wrapper .afisha-feature .title
{
    font-weight: bold;
    font-size: 23px;
    color: #000;
    line-height: 23px;
}

.afisha-feature-wrapper .afisha-feature .rating
{
    position: absolute;
    top: -14px;
    right: 20px;
    background: #b474da;
    color: #fff;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 29px;
}

.section-afisha .btn-wrapper
{
    text-align: center;
    padding: 30px 0;
}

.btn-simple
{
    border-color: #fff;
    color: #fff;
    line-height: 40px;
    height: 40px;
    min-height: 40px;
    font-family: bebas, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 30px;
    font-weight: bold;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.btn-simple:hover
{
    background-color: #b5506d;
}

.section-residents
{
    background: #f7f7f7;
}

.residents-type
{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.residents-type a
{
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
    font-size: 13px;
    transition: 0.3s;
}

.residents-type a:last-of-type
{
    margin-right: 0;
}

.residents-type a:hover
{
    color: #b5506d;
}

.resident-wrapper
{
    display: flex;
    flex-wrap: wrap;
}

.resident-item
{
    text-decoration: none;
    background: #fff;
    display: block;
    width: 25%;
    border: 1px solid #f8f8f8;
    position: relative;
}

.resident-item .wrapper
{
    padding: 20px;

}

.resident-item .wrapper:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid;
    border-image: linear-gradient(to right, rgba(14,201,255,1) 0%,rgba(180,116,218,1) 100%);
    border-image-slice: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
}


.resident-item:hover .wrapper:before
{
    opacity: 1;
}

.resident-item .logo
{
    text-align: center;
    height: 170px;
}

.resident-item .logo img
{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

.resident-item .type
{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 5px;
}

.resident-item .title
{
    font-weight: bold;
    font-size: 23px;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
}

.resident-item .desc
{
    color: #666666;
    line-height: 18px;
    text-align: center;
}
