body
{
    margin: 0;
    color: #000;
    font-family: 'Circe', sans-serif;
    padding-top: 90px;
    background: #f7f7f7;
}

*, ::after, ::before {
    box-sizing: border-box;
}

button
{
    outline: none;
}

.container
{
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar .logo
{
    width: 200px;
    display: flex;
    align-items: center;
}

.navbar .logo img
{
    margin-bottom: 20px;
}

.navbar
{
    height: 90px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

.navbar .container
{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .menu
{
    display: flex;
}

.menu .menu-link
{
    display: flex;
    position: relative;
    padding: 0 15px;
    align-items: center;
}

.menu .menu-link.dropdown-wrapper:before
{
    content: "";
    width: 10px;
    height: 10px;
    right: 0;
    top: -8px;
    bottom: 0;
    position: absolute;
    margin: auto;
    background: url(../images/icons/caret-down.svg);
    background-size: contain;
    transition: 0.3s;
}

.menu .menu-link:after
{
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(180,116,218,1) 0%,rgba(14,201,255,1) 100%);
    transition: 0.5s;
    opacity: 0;
}

.menu .menu-link:hover:after
{
    opacity: 1;
}

.menu .menu-link.dropdown-wrapper:hover:before
{
    transform: rotate(-180deg);
}

.menu .menu-link a
{
    font-family: bebas;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #000;
    text-decoration: none;
    padding-bottom: 8px;
}

.menu .menu-link .dropdown
{
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 220px;
    letter-spacing: 0;
    background: #fff;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
}

.menu .menu-link .dropdown a
{
    letter-spacing: 0;
    padding: 5px 15px;
    display: block;
    transition: 0.5s;
}

.menu .menu-link .dropdown a:hover
{
    background: #b5506d;
    color: #fff;
}

.menu .menu-link.dropdown-wrapper:hover .dropdown
{
    max-height: 150px;
}

.section-main
{
    height: 600px;
    background-image: url(../images/main-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 50px solid #fff;
    border-top: none;
    padding: 50px;
}

.section-main .logo
{
    width: 110px;
}

.section-main h1
{
    font-size: 50px;
    color: #fff;
    width: 33%;
}

.worm-title
{
    font: 300 110px bebas, sans-serif;
    letter-spacing: 0.9rem;
    color: #fff;
    text-align: center;
    padding: 100px 0 100px 0;
    position: relative;
    background-image: url(../images/bg/title-worm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px 70px;
    margin: 0;
}

.worm-title.black
{
    color: #000;
}

.section-afisha
{
    background:rgb(181, 80, 109) url(../images/bg/main-afisha-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-afisha:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(181, 80, 109, 0.5);
}

.section-afisha .container
{
    position: relative;
    z-index: 5;
}

.afisha-simple-wrapper
{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.afisha-simple-wrapper .afisha-simple
{
    display: flex;
    align-items: center;
    width: 750px;
    background-color: #fff;
    position: relative;
    margin-bottom: 10px;
    min-height: 175px;
}

.afisha-simple-wrapper .afisha-simple .poster
{
    display: block;
    width: 25%;
    height: 100%;
    
    position: relative;
    position: absolute;
}

.afisha-simple-wrapper .afisha-simple .poster img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.afisha-simple-wrapper .afisha-simple .desc
{
    width: 75%;
    padding: 15px 30px;
    padding-left: calc(25% + 30px);
}

.afisha-simple-wrapper .afisha-simple .tag
{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 5px;
}

.afisha-simple-wrapper .afisha-simple .title
{
    font-weight: bold;
    font-size: 23px;
    color: #000;
    text-decoration: none;
    line-height: 23px;
}

.afisha-simple-wrapper .afisha-simple .desc .text
{
    color: #666;
    line-height: 18px;    
    font-weight: 300;
    font-size: 15px;
}

.afisha-simple-wrapper .afisha-simple .desc .text p
{
    margin-bottom: 0;
}

.afisha-simple-wrapper .afisha-simple .info
{
    padding: 15px;
    width: 25%;
    position: relative;
    
}

.afisha-simple-wrapper .afisha-simple .info:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
    display: block;
    border-left: 1px solid #ebe6e4;
}

.afisha-simple-wrapper .afisha-simple .rating
{
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(181,80,109,0.1);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    color: #666666;
    font-weight: 700;
    text-align: center;
    line-height: 29px;
}

.afisha-simple-wrapper .afisha-simple .info .text
{
    color: #000;
    font-weight: 300;
    font-size: 15px;
}

.afisha-simple-wrapper .afisha-simple .info .text p
{
    margin: 0;
}

.afisha-simple-wrapper .afisha-simple .info a
{
    color: #b5506d;
    text-decoration: none;
}

.afisha-wrapper
{
    display: flex;
}

.afisha-feature-wrapper .afisha-feature
{
    width: 350px;
    display: flex;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, rgba(14,201,255,1) 0%,rgba(180,116,218,1) 100%);
    border-image-slice: 1;
    position: relative;
    margin-bottom: 10px;
}

.afisha-feature-wrapper .afisha-feature img
{
    width: 100%;
}

.afisha-feature-wrapper .afisha-feature .desc
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 15px;
}

.afisha-feature-wrapper .afisha-feature .date
{
    font-size: 18px;
    font-weight: bold;
    color: #0ec9ff;
}

.afisha-feature-wrapper .afisha-feature .title
{
    font-weight: bold;
    font-size: 23px;
    color: #000;
    line-height: 23px;
}

.afisha-feature-wrapper .afisha-feature .rating
{
    position: absolute;
    top: -14px;
    right: 20px;
    background: #b474da;
    color: #fff;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 29px;
}

.section-afisha .btn-wrapper
{
    text-align: center;
    padding: 30px 0;
}

.btn-simple
{
    border-color: #fff;
    color: #fff;
    line-height: 40px;
    height: 40px;
    min-height: 40px;
    font-family: bebas, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 30px;
    font-weight: bold;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.btn-simple:hover
{
    background-color: #b5506d;
}

.section-residents
{
    background: #f7f7f7;
    padding-bottom: 40px;
}

.residents-type
{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.residents-type a
{
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
    font-size: 13px;
    transition: 0.3s;
}

.residents-type a:last-of-type
{
    margin-right: 0;
}

.residents-type a:hover
{
    color: #b5506d;
}

.resident-wrapper
{
    display: flex;
    flex-wrap: wrap;
}

.resident-item
{
    text-decoration: none;
    background: #fff;
    display: block;
    width: 25%;
    border: 1px solid #f8f8f8;
    position: relative;
}

.resident-item .wrapper
{
    padding: 20px;

}

.resident-item .wrapper:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid;
    border-image: linear-gradient(to right, rgba(14,201,255,1) 0%,rgba(180,116,218,1) 100%);
    border-image-slice: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
}


.resident-item:hover .wrapper:before
{
    opacity: 1;
}

.resident-item .logo
{
    text-align: center;
    height: 170px;
}

.resident-item .logo img
{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

.resident-item .type
{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 5px;
}

.resident-item .title
{
    font-weight: bold;
    font-size: 23px;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
}

.resident-item .desc
{
    color: #666666;
    line-height: 18px;
    text-align: center;
}

.subtitle
{
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}

.section-arenda
{
    position: relative;
    padding-bottom: 40px;
    background: #ebe6e4;
}

.section-arenda .arenda-wrapper
{
    display: flex;
    justify-content: space-between;
}

.section-arenda .arenda-wrapper .arenda-item
{
    width: 555px;
    height: 444px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.section-arenda .arenda-wrapper .arenda-item .bg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.section-arenda .arenda-wrapper .arenda-item.spases:before
{
    background: rgba(180,116,218,0.5);
}

.section-arenda .arenda-wrapper .arenda-item.offices:before
{
    background: rgba(14, 201, 255,0.5);
}

.section-arenda .arenda-wrapper .arenda-item:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.section-arenda .arenda-wrapper .arenda-item .content
{
    position: relative;
    z-index: 5;
    padding: 30px 30px 0 30px;
    margin-top: auto;
}

.section-arenda .arenda-wrapper .arenda-item:hover .bg
{
    transform: translate(-50%, -50%) scale(1.05);
}

.section-arenda .arenda-wrapper .arenda-item .title
{
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
}

.section-arenda .arenda-wrapper .arenda-item .desc
{
    font-size: 23px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin-bottom: 15px;
}

.section-arenda .arenda-wrapper .arenda-item .btn-wrapper
{
    text-align: right;
    position: relative;
    z-index: 10;
    padding: 0 30px 30px 30px;
}

.section-arenda .arenda-wrapper .arenda-item .link-bg
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.section-contacts
{
    background: #f7f7f7;
}

.section-contacts .contacts-wrapper .ymap
{
    height: 380px;
    width: 60%;
}

.section-contacts .contacts-wrapper
{
    padding: 20px;
    background: #fff;
    display: flex;
}

.section-contacts .container
{
    padding-left: 100px;
    padding-right: 100px;
}

.section-contacts .contacts-wrapper .contacts-item
{
    margin: auto;
}

.section-contacts .contacts-wrapper .contacts-item .pochaina
{
    font-size: 23px;
    line-height: 28px;
    font-weight: 700;
}

.section-contacts .contacts-wrapper .contacts-item .pochaina-center
{
    font-size: 19px;
    line-height: 25px;
    font-weight: normal;
}

.section-contacts .contacts-wrapper .contacts-item span
{
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6rem;
}

.section-contacts .contacts-wrapper .contacts-item span:last-of-type
{
    margin-bottom: 0;
}

.section-contacts .contacts-wrapper .contacts-item a
{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.section-contacts .contacts-wrapper .contacts-item a:hover
{
    color: #b5506d;
}

section:last-of-type
{
    padding-bottom: 140px;
}

footer
{
    background-color: #1a1a1a;
    padding: 80px 0;
    position: relative;
}

footer::before
{
    content: '';
    background: url(../images/logo-sign.svg) no-repeat;
    background-size: contain;
    width: 117px;
    height: 162px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -124px;
}

footer .menu
{
    display: flex;
    justify-content: space-between;
    
}

footer .menu .menu-link a
{
    color: #666;
    transition: 0.3s;
}

footer .menu .menu-link:after
{
    content: none;
}

footer .menu .menu-link:hover a
{
    color: #b5506d;
}

.footer-row 
{
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom:  1px solid #666666;
}

.footer-row .col
{
    width: 33.33%;
}

.footer-row .col:nth-child(3)
{
    padding-left: 40px;
}

.footer-row .col .address
{
    color: #666666;
    font-weight: 300;
    display: block;
}

.footer-row .col a
{
    display: block;
}

footer a
{
    color: #666666;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover
{
    color: #b5506d;
}

.copyright
{
    color: #666666;
    font-weight: 300;
}

.footer-copyright
{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.footer-copyright span, .footer-copyright a
{
    width: 250px;
    text-align: center;
}

.btn-menu
{
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    transition: 0.5s;
    background: #fff;
    display: none;
}

.btn-menu:before, .btn-menu:after, .btn-menu span
{
    height: 2px;
    position: absolute;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btn-menu span
{
    width: 65%;    
}

.btn-menu:before
{
    content: "";
    width: 50%;
    transform: translate(-50%, -6px);
}

.btn-menu:after
{
    content: "";
    width: 50%;
    transform: translate(-50%, 6px);
}

.btn-menu:hover:after, .btn-menu:hover:before, .btn-menu:hover span
{
    width: 65%;
}

.btn-menu.active span
{
    opacity: 0; 
}

.btn-menu.active:after
{
    top: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.btn-menu.active:before
{
    transform: translate(-50%, -50%) rotate(135deg);
}

.page-title
{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-viewer 
{
    position: relative;
}

.card-viewer .card:not(.active)
{
    position: absolute;
    top: 0;
    display: none;
}

.btn-card-switch
{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    position: relative;
    background: none;
    border: none;

}

.btn-card-switch::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, rgba(180,116,218,1) 0%,rgba(14,201,255,1) 100%);
    left: 0;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
}

.btn-card-switch:hover::before, .btn-card-switch.active:before
{
    opacity: 1;
}

.btn-switcher-wrapper
{
    display: flex;
    justify-content: space-evenly;
}

.residents-type .container
{
    display: flex;
    justify-content: center;
}

.residents-type a.active
{
    color: #b5506d;
}

.page-afisha-wrapper
{
    padding-top: 30px;
    background: #f7f7f7;
}

.share .ya-share2__container.ya-share2__container_color-scheme_whiteblack .ya-share2__badge, .share .ya-share2__container.ya-share2__container_color-scheme_whiteblack .ya-share2__mobile-popup-badge
{
    background: none;
    
}

.ya-share2__container_color-scheme_whiteblack .ya-share2__icon
{
    filter: invert(100%) sepia(3%) saturate(230%) hue-rotate(1deg) brightness(115%) contrast(91%);
    transition: 0.3s;
    
}

.ya-share2__container_color-scheme_whiteblack .ya-share2__item_service_vkontakte .ya-share2__icon:hover
{
    filter: invert(52%) sepia(70%) saturate(430%) hue-rotate(172deg) brightness(78%) contrast(92%);
}

.ya-share2__container_color-scheme_whiteblack .ya-share2__item_service_facebook .ya-share2__icon:hover
{
    filter: invert(33%) sepia(9%) saturate(3795%) hue-rotate(183deg) brightness(95%) contrast(88%);
}

.ya-share2__container_color-scheme_whiteblack .ya-share2__item_service_odnoklassniki .ya-share2__icon:hover
{
    filter: invert(56%) sepia(35%) saturate(3789%) hue-rotate(343deg) brightness(97%) contrast(89%);
}

.ya-share2__container_color-scheme_whiteblack .ya-share2__item_service_twitter .ya-share2__icon:hover
{
    filter: invert(68%) sepia(93%) saturate(4371%) hue-rotate(163deg) brightness(98%) contrast(101%);
}

.afisha-event-panel
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 0 30px;
}

.afisha-event-panel .share, .afisha-event-panel .links
{
    display: flex;
    align-items: center;
}

.afisha-event-panel .btn-arrow-back
{
    width: 50px;
    height: 22px;
    display: inline-block;
    background: url(../images/icons/arrow-back.svg) no-repeat;
    transition: 0.3s;
}

.afisha-event-panel .links:hover .btn-arrow-back
{
    filter: invert(44%) sepia(57%) saturate(502%) hue-rotate(292deg) brightness(81%) contrast(96%);
}


.afisha-event-panel .links:hover 
{
    color: #b5506d;
}

.afisha-event-panel .links, .afisha-event-panel .share .text
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: #fff;
    transition: 0.3s;
    margin-right: 15px;
}

.page-afisha .afisha-event h1
{
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
}

.page-afisha
{

}


.page-afisha .afisha-event
{
    padding: 50px 30px 50px 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.page-afisha .afisha-event .text-wrapper
{
    padding-right: 40px;
}

.page-afisha .afisha-event .place
{
    font-family: 'Circe', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6rem;
}

.page-afisha .afisha-event .place a
{
    text-decoration: none;
    transition: 0.5s;
    color: #b5506d;
}

.afisha-gallery
{
    display: grid;
    grid-auto-rows: 190px;
    height: auto;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.afisha-gallery .gallery-item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.afisha-gallery .gallery-item
{
    position: relative;
    overflow: hidden;
}

.afisha-gallery .gallery-item:hover img
{
    transform: translate(-50%, -50%) scale(1.05);
}

.afisha-current-events
{
    padding-top: 40px;
}

.afisha-current-events h1
{
    font-size: 36px;
    line-height: 43px;
}

.contacts-form-wrapper
{
    width: 800px;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, rgba(14,201,255,1) 0%,rgba(180,116,218,1) 100%);
    border-image-slice: 1;
    padding: 40px 90px;
    background: #fff;
}

.contacts-form-wrapper h1
{
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}

.contacts-form-wrapper p
{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6rem;
    margin: 0;
    text-align: center;
}

.contacts-form-wrapper .contacts-form textarea
{
    max-width: 100%;
    min-height: 30px;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 18px;
    font: inherit;
}

.contacts-form-wrapper .contacts-form
{
    margin-top: 30px;
}

.contacts-form-wrapper .contacts-form .form-group
{
    position: relative;
}

.contacts-form-wrapper .contacts-form .form-group label
{
    color: #666;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.contacts-form-wrapper .contacts-form .contacts-row
{
    display: flex;
    justify-content: space-between;
}

.contacts-form-wrapper .contacts-form .contacts-row .form-group
{
    width: 45%;
}

.contacts-form-wrapper .contacts-form .form-group input
{
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-size: 18px;
    color: #000;
    padding: 0;
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 18px;
    font: inherit;
}

.contacts-form-wrapper .contacts-form .form-group input:focus ~ label, .contacts-form-wrapper .contacts-form textarea:focus ~ label
{
    top: -20px;
}

.contacts-form-wrapper .contacts-form .form-group.textarea
{
    margin-top: 30px;
}

.btn-simple.black
{
    border-color: #000;
    color: #000;
}

.btn-simple.black:hover
{
    border-color: #b5506d;
    color: #fff;
}

.contacts-form-wrapper .contacts-form .form-footer
{
    text-align: center;
    margin-top: 30px;
}

.contacts-form-wrapper .contacts-form .form-footer span
{
    display: block;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6rem;
}

.afisha-contacts-form 
{
    margin-top: 30px;
}

.afisha-contacts-form .container
{
    display: flex;
    justify-content: center;
}

.history-record
{
    display: flex;
    background: #fff;
    padding: 30px;
}

.history-record .text-wrapper
{
    padding-left: 30px;
}

.history-record .text-wrapper .title
{
    font-size: 36px;
    line-height: 43px;
    color: #000;
    text-decoration: none;
    font-weight: 800;

    
}

.history-record .text-wrapper .history-desc p
{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6rem;
}

.history-record .btn-read
{
    line-height: 40px;
    height: 40px;
    min-height: 40px;
    font-family: bebas, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 30px;
    font-weight: bold;
    background: #0ec9ff;
    color: #fff;
    border-color: #0ec9ff;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.history-record .btn-read:hover
{
    background: #b5506d;
}

.history-record .btn-wrapper
{
    text-align: right;
}

.history-list-wrapper
{
    margin-top: -60px;
}

.page-history-record .container
{
    background: #fff;
    padding: 30px;
    margin-top: -60px;
}

.page-history-record .container h1
{
    font-size: 38px;
    margin-top: 0;
}

.about-complex b
{
    display: block;
    padding: 40px 0;
    text-align: center;
    font-size: 23px;
    line-height: 28px;
}

.area-item
{
    display: flex;
    margin-bottom: 20px;
    height: auto;
    align-items: end;
}

.area-item .text
{
    width: 50%;
    margin-left: auto;
    padding: 30px;
    background: #fff;

}

.area-item .text .title
{
    font-weight: bold;
    font-size: 23px;
}

.area-item .text .desc
{
    font-family: 'Circe', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6rem;
}

.area-item .text .area-value
{
    font-size: 18px;
    font-weight: 400;
}

.complex-map
{
    display: flex;
    position: relative;
}

.complex-map img
{
    width: 100%;
    height: auto;
}

.complex-map .marker
{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    font-weight: bold;
    /*cursor: pointer;*/
    transition: 0.5s;
}
/*
.complex-map .marker:hover
{
    transform: scale(1.1);
}
*/
.area-wrapper
{
    margin-top: -40px;
    position: relative;
    z-index: 5;
    padding: 0 40px;
}

.area-item .image
{
    display: flex;
    overflow: hidden;
}

.area-item .image img
{
    transition: 0.3s;
}

.area-item .image:hover img
{
    transform: scale(1.05);
}

.map-wrapper
{
    position: relative;
    margin-top: 40px;
}

.card-viewer .btn-switcher-wrapper
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.area-item .address
{
    font-family: 'Circe', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
}

.area-item .slider
{
    width: 40%;
    position: relative;
}

.area-item .slider .owl-nav
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.area-item .slider .owl-nav button.owl-prev
{
    height: 40px;
    width: 40px;
    background: url(../images/icons/arrow.svg);
    background-size: contain;
    margin-left: 10px;
    font-size: 0;
    pointer-events: all;
}

.area-item .slider .owl-nav button.owl-next
{
    height: 40px;
    width: 40px;
    background: url(../images/icons/arrow.svg);
    background-size: contain;
    transform: rotate(180deg);
    margin-right: 10px;
    font-size: 0;
    pointer-events: all;
}

.area-item .slider .owl-dots
{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.area-item .slider .owl-dots .owl-dot
{
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 5px;
    transition: 0.3s;
}

.area-item .slider .owl-dots .owl-dot.active
{
    background: none;
    border: 1px solid #fff;
    transform: scale(1.4);
}

.btn-switcher-wrapper.black .btn-card-switch
{
    color: #000;
}